{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}


{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}


	<div class="block-complet">
		{{ form_start(registrationForm,{'attr':{'class':'form_block_register'}}) }}
		<div class="form_register">
			<div class="titre_register">
				<h2>INSCRIPTION</h2>
			</div>
			<div class="hr_register">
				<hr>
			</div>
			<div class="inputs_register">
				<div class="pseudo_register">
					{{ form_label(registrationForm.Name,'Pseudo',{'attr':{'class':'label_register'}}) }}
					{{ form_errors(registrationForm.Name,{'attr':{'class':'errors_register'}}) }}
					{{ form_widget(registrationForm.Name,{'attr':{'class':'input_register'}}) }}
					{{ form_help(registrationForm.Name) }}
				</div>
				<div class="email_register">
					{{ form_label(registrationForm.email,'Email',{'attr':{'class':'label_register'}}) }}
					{{ form_errors(registrationForm.email,{'attr':{'class':'errors_register'}}) }}
					{{ form_widget(registrationForm.email,{'attr':{'class':'input_register'}}) }}
					{{ form_help(registrationForm.email) }}
				</div>
				<div class="mdp_register">
					{{ form_label(registrationForm.plainPassword,'Mot de passe',{'attr':{'class':'label_register'}}) }}
					{{ form_errors(registrationForm.plainPassword,{'attr':{'class':'errors_register'}}) }}
					{{ form_widget(registrationForm.plainPassword,{'attr':{'class':'input_register'}}) }}
					{{ form_help(registrationForm.plainPassword) }}
				</div>
			</div>
			<div class="accept_btn_register">
				<div class="accept_register">
					{{ form_widget(registrationForm.agreeTerms,{'attr':{'class':'input_agree'}}) }}
					{{ form_label(registrationForm.agreeTerms,'Accepter les termes',{'attr':{'class':'agree_register'}}) }}
					{{ form_errors(registrationForm.agreeTerms) }}
					{{ form_help(registrationForm.agreeTerms) }}
				</div>
			</div>
		</div>
				<div class="bouton_register">
					<button type="submit" class="btn_register">S'inscrire</button>
				</div>
		{{ form_end(registrationForm) }}
	</div>


{% endblock %}
