{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{# {{ form_start(form) }}
    <div class="block-complet">
        <div class="block_commentaire_new">
            <div class="block_titre_commentaire_new">
                <h2>Commentaire de l'article #</h2>
            </div>
        </div>
    </div>
{{ form_end(form) }} #}
