{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}


{{ form_start(form) }}
    <div class="block-complet">
        <div class="block_complet_modifier">
            <div class="titre_article_modif">
                <h2>Création d'un article</h2>
                <div class="categorie_choix">
                    <p>Catégorie:</p>

                    <div class="select_categorie">
                        {# <select name="catégorie" id="pet-select">
                            <option value="">--Choisissez une catégorie--</option>
                            <option value="">Dog</option>
                        </select> #}
                        {{ form_widget(form.category,{'attr':{'class':'input_modif_choix_categorie'}}) }}
                    </div>
                </div>
            </div>
            <div class="hr_modif_article">
                <hr>
            </div>
            <div class="choix_titre">
                <h3>Titre</h3>
                <hr>
                {{ form_widget(form.name,{'attr':{'class':'input_modif_titre_article'}}) }}
            </div>
            <div class="choix_description">
                <h3>Description</h3>
                <hr>
                {{ form_widget(form.description,{'attr':{'class':'input_modif_desciption_article'}}) }}
            </div>
            <div class="choix_texte">
                <h3>Ajouter du texte à votre publication</h3>
                <hr>
                {{ form_widget(form.texte,{'attr':{'class':'input_modif_texte_article'}}) }}
            </div>
            <div class="choix_image">
                <h3>Vous pouvez illustrer votre publication</h3>
                <hr>
                {{ form_widget(form.image,{'attr':{'class':'input_modif_image_article'}}) }}
                
                
                {# {{ form_widget(form.name,,{'attr':{'class':'input_modif_image_article'}}) }} #}
            </div>
        </div>
        <div class="block_btn_sauvegarder">
            <button class="btn btn_save_article">{{ button_label|default('Nouvel article') }}</button>
        </div>
    </div>
{{ form_end(form) }}