{% extends 'base.html.twig' %}

{% block title %}Article index
{% endblock %}

{% block body %}


	<div class="block-complet">
		<div class="block_blog">
			<div class="titre_blog">
				<h2>Blog</h2>
			</div>
			<div class="hr_blog">
				<hr>
			</div>
			<div class="articles_blog">
				{% for article in articles %}
					<div class="block_article_blog">
						<div class="block_gauche_blog">
							<div class="titre_article_blog">
								<h3>{{ article.name }}</h3>
								<p>par
									{{ article.auteur }}</p>
							</div>
							<div class="hr_article_blog">
								<hr>
							</div>
							<div class="info_article_blog">
								<p class='date_publication'>Edité le
									{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</p>
								<p class="categorie_article">Catégorie :
									{{ article.categorie }}</p>
							</div>
							<div class="titre_description">
								<h3>Description</h3>
							</div>
							<div class="texte_description">
								<p>{{ article.description }}</p>
							</div>
						</div>
						{% if app.user  %}
							<div class="block_droit_blog">
								<a href="{{ path('app_article_show', {'id': article.id}) }}" class='bouton_voir_blog'>Voir la publication</a>

								<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="bouton_modifier_blog">Modifier</a>
							</div>
						{% else %}
							<div class="block_droit_blog">
								<a href="{{ path('app_article_show', {'id': article.id}) }}" class='bouton_voir_blog'>Voir la publication</a>
							</div>
						{% endif %}
					</div>


				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}

			</div>
		</div>
		<div class="block_btn_new_article">
			<div class="block_a_new_article">
				<a href="{{ path('app_article_new') }}" class="btn_new_article">Créer un Nouvel Article</a>
			</div>
		</div>
	</div>
	{# <div class="block-complet"> <div class="block_blog">
																			<div class="titre_blog">
																				<h2>Blog</h2>
																			</div>
																			<div class="hr_blog">
																				<hr>
																			</div>
																			<div class="articles_blog">
																				{% for article in articles %}
																					<div class="block_article_blog">
																						<div class="block_gauche_blog">
																							<div class="titre_article_blog">
																								<h3>{{ article.name }}</h3>
																								<p>par
																									{{ article.auteur }}</p>
																							</div>
																							<div class="hr_article_blog">
																								<hr>
																							</div>
																							<div class="info_article_blog">
																								<p class='date_publication'>Edité le
																									{{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}</p>
																								<p class="categorie_article">Catégorie :
																									{{ article.categorie }}</p>
																							</div>
																							<div class="titre_description">
																								<h3>Description</h3>
																							</div>
																							<div class="texte_description">
																								<p>{{ article.description }}</p>
																							</div>
																						</div>
																						<div class="block_droit_blog">
																							<a href="{{ path('app_article_show', {'id': article.id}) }}" class='bouton_voir_blog'>Voir la publication</a>
																							<a href="{{ path('app_article_edit', {'id': article.id}) }}" class="bouton_modifier_blog">Modifier</a>
																						</div>
																					</div>
																
																
																				{% else %}
																					<tr>
																						<td colspan="9">no records found</td>
																					</tr>
																				{% endfor %} #}
<a href="{{ path('app_article_new') }}">Create new</a>
	
{% endblock %}
